* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    background-color: rgb(127, 233, 233);
}

h2 {
    background-color: skyblue;
}

p {
    font-size: 20px;
    background-color: rgb(231, 185, 185);
}